.info_container {
    margin:1rem 0;
}
.ant-descriptions-bordered {
    border:none;
}
.detail_container {
    width:85%;
    margin:3rem auto
}
.ant-descriptions-row,
.ant-descriptions-item-content,
.ant-descriptions-item-label {
    border:none;
}
.toggle_container {
    display:flex;
    justify-content:center;
    margin:2rem
}
.toggle_btn {
    padding:1rem;
    font-size:1rem;
    font-weight: 400;
    border-radius: 10px;
    border:none;
    background-color: rgba(255,0,0,.6);
}