.favorite_container {
    width: 85%;
    margin:3rem auto;
}
table {
    width: 100%;
}
thead {
    font-weight: bold;
}
tr,td {
    border: 1px solid black;
    padding: .5rem;
}
td:first-child,
td:nth-child(2) {
    width: 40%;
}
.remove_btn {
    width: 100%;
}