.mainImage_container {
    display:flex;
    margin:2rem 0;
}
.opacity_container {
    display: flex;
    border-radius: 20px;
    padding:1.5rem;
    width: 100%;
}
.mainImage_poster img {
    width:25vw;
    height:65vh;
    border-radius:10px
}
.mainImage_movie {
    max-width:700px;
    margin-left:2rem;
}
.mainImage_movie h3 {
    color:white;
    margin: 1rem 0;
    font-weight: 600;
}
.mainImage_movie p {
    font-weight: 500;
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    color:white;
}
.mainImage_detail_info {
    display:flex;
    flex-direction: column;
}
.mainImage_detail_info h2 {
    color:white;
    margin-right:1rem;
}
.mainImage_rating_info {
 font-size:1rem;
 font-weight:500;
 color:white;
}
.mainImage_rating_info span:first-child {
    margin-right: 1rem;
}
